{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry's URL is requested, because
 # the News section's Template setting is set to "news/_entry".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the requested News entry.
-#}

{% extends "_layouts/site" %}

{% block main %}
<div class="hero-banner"> 
	{% set rel = entry.backgroundimage.one() %}
	{% if rel %}
		<div class="bg-hero-banner" style="background-image: url({{rel.url }});"> </div>
	{% endif %}
	<div class="container"> 
		<div class="hero-banner-info">
			
			{% set bannertitle = entry.bannertitle %}
			{% if bannertitle %}
				<h2 class="h1"> {{ bannertitle }}  </h2>
			{% endif %}

			{% set bannerDescription = entry.bannerDescription %}
			{% if bannerDescription %}
				<p class="hero-banner-des"> {{ bannerDescription }}  </p>
			{% endif %}   
		</div>
	</div>

</div>
<div class="listcard">
    <div class="container">
	<h2 style="margin-top: 20px; color: #37b4e4;">{{ entry.titleIntroduce }}</h2>
		<div class="itemtab-listcard-wapper-content">  
			<div class="row10" style="margin-left:0; margin-right:0"> 	
				<h4 style="font-family:none; width:100%">{{ entry.subTitle}}</h4><br>
                <p>{{ entry.contentIntroduce }}</p>
			</div>
		</div>
	</div>
</div>		
{% endblock %}
